In [ ]:
#Q-1:
    you can use while loops to run the same task multiple times
    and for loops to loop once over list data.
    example1:
        fruits = ["apple", "banana", "cherry"]
             for x in fruits:
                 print(x)
                    
    example2:
    i = 1
while i < 6:
  print(i)
  i += 1

In [1]:
# Q-2:sum of 10 numbers using for loop
result=0
n=[1,2,3,4,5,6,7,8,9,10]
for i in n:
    result=result+i
    
print(result)

# product using for loop
result1=1
for i in n:
    result1=result1*i
print(result1)

#sum of 10 numbers using while loop
while i<len(n):
    result=result+i
print(result)    

# product using while loop
while i<len(n):
    result1=result1*i
print(result1)

55
3628800
55
3628800

In [2]:
#Q-4:
lst=list(range(100))

In [3]:
lst1=[i**3 for i in lst]
lst1

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299]

In [8]:
l1=[]
for i in lst1:
    if i%4==0 or i%5==0:
        l1.append(i)

In [6]:
#Q-5:
str = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = len([char for char in str if char in vowels])
print("No  of vowels :", count)

No  of vowels : 12